In [1]:
import pandas as pd
%matplotlib inline

In [16]:
df = pd.read_csv('https://raw.githubusercontent.com/prasertcbs/basic-dataset/master/bangkok_aqi.csv')
df.head()

         date   pm25  pm10    o3   no2  so2  co
0  2017-01-01    NaN  30.0  18.0   9.0  1.0 NaN
1  2017-01-02   85.0  36.0  12.0  12.0  1.0 NaN
2  2017-01-03  104.0  40.0  11.0  12.0  1.0 NaN
3  2017-01-04  109.0  58.0  13.0  15.0  1.0 NaN
4  2017-01-05  126.0  52.0   9.0  13.0  1.0 NaN